*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}
body{
  background: #F1F1F1;
}

.header{
 background: #1A1A1A;
 padding: 12px 15px 12px 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.left-logo{
  width: 104px;
  height: 30px;
  background-image: url('https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg');
}
.middle{
  background: #303030;
  width: 430px; 
  border-radius: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
}
.middle input{
  color: #B5B5B5;
  background: transparent;
  outline: none;
  width: 400px;
  border: 1px #616161;
  font-size: 13px;
}
.middle input::placeholder{
  font-size: 13px;
  font-weight: 400;
}

.middle .search-icon{
  padding-right:10px;
  color: #B5B5B5;
}
.right{
  display: flex;
}
.dc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  background-color: #303030;
  color: #E3E3E3;
  padding: 0 2px 0 8px;
  border-radius: 8px;
}
.right .notification{
  background: #303030;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.dc{
  cursor: pointer;
}
.dc h6{
  padding-right: 8px;
  font-size: 12px;
  font-weight: 400;
}
.dc-icon{
  background: #36FBA1;
  font-size: 12px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.4);
 
}

/*dc dropdown*/
.sub-menu-wrap{
  position: absolute;
  top: 65px;
  right: 15px;
  width: 320px;
  border-radius: 14px;
  background: white;
  max-width: 0px;
  overflow: hidden;
  z-index: 100;
}

.sub-menu-wrap.open-menu{
  max-width: 400px;
}
.sub-menu{
  padding: 0 8px 0px 8px;
}
.user-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F1F1F1;
  margin: 5px 0 5px 0;
  border-radius: 8px;
  padding: 0 10px 0 10px;
}
.user-info-details{
  display: flex;
  align-items: center;
}
.user-info-details h6{
  padding-left: 8px;
  font-size: 13px;
  color: #303030;
  font-weight: 600;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
}
.sub-menu-link .shop{
  margin: 5px;
}
.sub-menu-link .store{
  font-size: 13px;
  color: #303030;
  font-weight: 400;
  padding-bottom: 5px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #E1E1E1;
}

.sub-menu-products{
  text-decoration: none;
}

.sub-menu .sub-menu-products .store{
  font-size: 13px;
  color: #303030;
  font-weight: 400;
  padding: 8px 0 8px 10px;
  width: 100%;
  cursor: pointer;
}
.sub-menu .sub-menu-products .store:hover{
  background: #F1F1F1;
  border-radius: 6px;
}

.sub-menu-profile{
  text-decoration: none;
  display: block;
}
.sub-menu-profile .store{
  font-size: 13px;
  color: #303030;
  font-weight: 600;
  padding: 8px 0 0px 10px;
  width: 100%;
  cursor: pointer;
}

.sub-menu-profile .small{
  font-size: 12px;
  color: #616161;
  font-weight: 400;
  padding: 0px 0 8px 10px;
  width: 100%;
  cursor: pointer;
}
.sub-menu .sub-menu-profile:hover, .sub-menu-link:hover{
  background: #F1F1F1;
  border-radius: 6px;
}

/*notification drop-down*/
.not-menu-wrap{
  position: absolute;
  top: 65px;
  right: 15px;
  width: 383px;
  border-radius: 14px;
  background: white;
  max-width: 0px;
  overflow: hidden;
}
.not-menu{
  padding: 0 8px 0px 8px;
  height: 118px;
  z-index: 100;
}
.not-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px 20px;
}
.not-info .check{
  margin-left: 16px;
}
.not-text{
  font-size: 14px;
  color: #303030;
  font-weight: 600;
}
.not-menu-products{
  text-decoration: none;
}

.not-menu .not-menu-products .store{
  font-size: 13px;
  color: #616161;
  font-weight: 500;
  padding: 10px 0 10px 10px;
  margin: 0 0 0 10px;
  width: 351px;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  background: #F1F1F1;
}
.not-menu-wrap.view-menu{
  max-width: 400px;
}
.notification{
  cursor: pointer;
}

/*body content*/
.container{
 margin: 32px auto;
 max-width:800px;
 /* height:178px ; */
}
.top{
  max-width: 800px;
  height: 56px;
  background: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.top-left p{
color: #E3E3E3;
font-size: 13px;
font-weight: 400;
}
.top-right{
  display: flex;
  align-items: center;
}
.top-text p{
  background: white;
  color: #323232;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.top-icon{
  padding: 4px 0 0 8px;
  cursor: pointer;
}

/* the main section body accordion */
.wrapper{
	border-radius: 18px;
	
}
.wrapper .parent-tab,
.wrapper .child-tab{
 border-radius: 18px;
}
.wrapper .parent-tab label{
  background: white;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
}
.parent-tab .prog{
	padding-top: 8px;
}

.wrapper .child-tab label{
  background: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
}
.wrapper label span{
	color: #303030;
	font-size: 18px;
	font-weight: 500;
}

.child-tab label span{
	font-size: 17px;
	padding-left: 8px;
}

.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease;
}

.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
	max-height: 100vh;
  padding-bottom: 10px
}
.child-tab input:checked ~ .content span{
	font-weight: bolder;
}

.wrapper .parent-tab .content p{
	font-size: 16px;
	padding: 15px 20px;
}

.wrapper .child-tab .sub-content p{
	font-size: 16px;
	padding: 8px 0px 8px 42px;
}
.wrapper input{
	display: none;
}

.parent-tab input:checked ~ label .icon svg:after,
.child-tab input:checked ~ label .icon svg:after{
	transform: rotate(-180deg);
}

.wrapper input:checked ~ label .icon svg{
	transform: rotate(180deg);
}
.label-heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sub-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
  padding: 0px 12px;
  background: white;

}
.sub-content .left{
	display: flex;
	flex-direction: column;
  background: #F3F3F3;
  height: 140px;
  border-radius: 10px 0px 0px 10px;
}
.sub-content .right{
  background: #F3F3F3;
  height: 140px;
  border-radius: 0px 10px 10px 0px;
}
.sub-content .left a{
	padding-left: 42px;
}
.sub-content .left button{
	width: 128px;
	height: 28px;
	margin-left: 42px;
	margin-top: 6px;
	background: #404040;
	color: #F6F3F6;
	border-radius: 6px;
}
.sub-content .left .btn{
	display: flex;
	align-items: center;
}
.sub-content .left .btn h5{
	color: #323232;
font-size: 12px;
font-weight: semi-bold;
padding-left: 16px;
}


@media screen and (max-width:390px){
.sub-content .right{
  display: none;
}
.sub-content .left{
  border-radius: 10px;
  height: 177px;
}
.dc h6{
  display: none;
}
.middle{
  width: 238px;
  margin-left: 4px;
}
.left-logo{
  background-image: url('https://crushingit.tech/hackathon-assets/shopify-icon.svg');
  height: 32px;
  width: 100%;
}
.right .notification, .dc{
  background: none;
}
.wrapper label span{
  font-size: 14px;
}
.guide-content p{
  font-size: 13px;
}
.not-menu-wrap.view-menu{
  max-width: 358px;
}
.sub-menu-wrap.open-menu{
  max-width: 320px;
}
}